* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #e4e7eb;
  padding: 0px;
}

/* Header */

header {
  background-color: #83b2d1;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

/* Footer */

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

/* Note */

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: #83b2d1;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
  border-radius: 16px;
}

form {
  position: relative;
  width: 380px;
  margin: 50px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.addnote-btn {
  position: absolute;
  left: 300px;
  bottom: -40px;
  cursor: pointer;
  background: #83b2d1;
}

.inputChangeContent {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}

.btnNote {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #cfd4da46;
}

.btnNote:hover {
  margin-left: 10px;
  margin-top: 10px;
  background: rgba(162, 163, 163, 0.685);
  color: white;
}

.btnImg {
  margin-top: 7px;
  margin-left: 0px;
}

.colorPickerSize {
  width: 210px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
